/*  HEADER */

header {
    height: 8em;
    width: 100%;
    display: block;
    border-bottom: 0.2em solid #6f7484;
}

.logo {
    width: 15em;
    margin-left: 5em;
    margin-top: 0.7em;
}

header .sesion {
    font-size: 1.2em;
    float: right;
    margin: 1.8em 5em;
    color: #6f7484;
    background: none;
    border: 0.2em solid;
    padding: 0.8em 1.3em;
    transition: 0.4s;
    border-radius: 2em;
    cursor: pointer;
}

.sesion:hover {
    color: #f99804;
}

/* NAV */

.menu {
    display: flex;
    height: 1.8em;
    cursor: pointer;
    margin: -3em 20em;
    font-size: 1.1em;
    width: 40em;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    display: inline-block;
    position: relative;
    width: 10em;
}

.menu a {
    color: #6f7484;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em 1em;
    transition: all ease-in-out 400ms;
}

.menu a:hover {
    color: orange;
}