* {
    margin: 0;
    padding: 0;
}

nav {
    margin-bottom: 5em;
}

.fondo{
    background-image: url('../img/verduras.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    height: 25rem;
}

p{
    margin-bottom: 2rem;
}

.tamano{
    font-size:7rem;
    color: white;
    /* color: #208f5b; */
    /* color: #d3b04d; */
}