* {
    margin: 0;
    padding: 0;
}

nav {
    margin-bottom: 5em;
}

.fondo{
    background-image: url('../img/verduras.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    height: 25rem;
}

p{
    margin-bottom: 2rem;
}

.tamano{
    font-size:7rem;
    color: white;

}

.pregunta{
    background-color: rgba(42,194,138);
}

.boton{
    background-color: rgba(211,176,77);
}

.boton:hover{
    border: 1px solid black;
    background-color: rgb(233, 193, 85);
}
    /* color: #208f5b; */
    /* color: #d3b04d; */