*{padding: 0; margin: 0;}

.nombreInstalacion{
    visibility: hidden;
}
.guardar{
    background-color: transparent;
    border: solid 1px #6f7484;
    border-radius: 10%;
}
.guardar:hover{
    background-color: transparent;
    border: solid 1px #f99804;
    border-radius: 10%;
    color: #f99804;
}
article{
    margin-top: 5%;
    text-align: center;
}
hr{
    margin-left: 25%;
    max-width: 50%;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

table {
    width: 20%;
    margin-left: 40%;
    margin-top: 3%;
    font-size: 1.1em;
}

td {
    padding: 3%;
}