.publicacion_evento{
    background-color: rgb(165, 165, 165);
    border: black 1px solid;
    border-radius: 6%;
    max-width: 25%;
    margin-bottom: 2%;
}

.publicacion_noticia{
    background-color: rgb(255, 210, 142);
    border: black 1px solid;
    border-radius: 6%;
    max-width: 25%;
    margin-bottom: 2%;
}