table {
    width: 100%;
    font-size: 1.1em;
    background-color: rgb(46,46,46);
    color: white;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
}

td {
    padding: 3%;
}

.opcion {
    display: flex;
    width: 24.5%;
    margin-left: 37%;
    justify-content: space-between;
}

h3:hover {
    cursor: pointer;
}

.subrayado {
    border-bottom: 1px solid black;
}

.oculto {
    display: none;
}

input[type=text],input[type=password],input[type=email],input[type=tel]{
    width: 100%;
}

input[type=submit] {
    margin-left: 40%;
    font-size: 0.9em;
}

.botones{
    background-color: white;
    border: inherit;
    padding: 1%;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
}
