* {
    padding: 0;
    margin: 0;
}

table {
    width: 30%;
    margin-left: 37%;
    margin-top: 2%;
    font-size: 1.1em;
    margin-bottom: 2%;
}

td {
    padding: 2%;
}

td:nth-child(even){
    text-align: center;
}

.opcion {
    display: flex;
    width: 20%;
    margin-left: 40%;
    justify-content: space-between;
}

h3:hover {
    cursor: pointer;
}

.subrayado {
    border-bottom: 1px solid black;
}

.oculto {
    display: none;
}

input[type=submit] {
    margin-left: 40%;
    font-size: 0.9em;
}

.formIni input[type=text] {
    margin-left: 30%;
}

.formIni input[type=password]{
    margin-left: 30%;
}